{% extends 'base.html.twig' %}

{% block content %}
	<section class="section-portefolio">
		<h1 class="header-portefolio-h1">{{ content.title }}</h1>
		<div class="div-imgs">
			Liste d'images
		</div>
	</section>
{% endblock %}
