@import url('navbar.css');
@import url('variables.css');
@import url('section-home.css');
@import url('carousel.css');

header {
  padding-bottom: 54px;
  height: 50px;
}

.body {
  width: 100%;
  background-color: var(--main-bg-color);
}

footer {
  text-align: center;
  background-color: var(--footer-bg-color);
  color: var(--header-bg-color);
}
