.header-section-contact {
    text-align: center;
    padding-top: 150px;
}

.header-section-contact h1 {
    font-size: 75px;
    margin-bottom: 40px;
}

.header-section-contact h2 {
    font-size: 50px;
    margin-bottom: 40px;
}

.section-map {
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.leaflet-container {
    width: 800px;
    height: 500px;
}

.section-take-contact {
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 20px;
}


@media screen and (max-width: 600px) {
    .header-section-contact {
        padding-top: 50px;
    }

    .leaflet-container {
        width: 300px;
        height: 500px;
    }

    .section-take-contact {
        margin-top: 50px;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 15px;
    }

}