.header-section-contact{
    text-align: center;
    padding-top: 150px;
}

.header-section-contact h1{
    font-size: 75px;
    margin-bottom: 40px;
}

.header-section-contact h2{
    font-size: 50px;
    margin-bottom: 40px;
}

.section-map{
    background-color: yellow;
}


.section-take-contact{
    background-color: black;
}