.section-home {
  font-size: xx-large;
  background-color: #f6f6f6;
  padding-top: 20px;
}

.header-section {
  width: 99%;
  display: grid;
  grid-template-columns: auto auto;
}

.header-home-h1 {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--header-bg-color);
  font-style: italic;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-right: 10rem;
  padding-left: 1rem;
}

.header-section .left-content {}

.left-content {
  padding: 10rem;
}

.shadow-img {
  box-shadow:
    0 0 2em black;
  width: 700px;
}

.header-section .right-content {
  padding-top: 150px;
}

.button-contact {
  all: initial;
  background-color: var(--primary-color);
  font-size: xx-large;
  cursor: pointer;
  color: var(--section-bg-color);
  border-radius: 10px;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.icon-next {
  background-color: white;
  border-radius: 45px;
  font-size: xx-large;
  color: var(--primary-color);
  padding-left: 30px;
  padding-right: 30px;
}

.div-button {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 100px;
}

.div-content {
  font-size: 25px;
  margin-right: 100px;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .section-home {
    width: 96%;
  }

  .section-home h1 {
    font-size: large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: none;
  }

  .header-section {
    width: 99%;
    display: block;
  }

  .left-content {
    padding: 0;
  }

  .left-content img {
    width: 200px;
    display: block;
    margin: auto;
  }

  .right-content {
    font-size: medium;
  }

  .right-content h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--section-bg-color);
  }

  .right-content p {}

  .div-content {
    font-size: 20px;
    margin-right: 0;
    text-align: justify;
    margin:3px;
  }

  .div-button {
    padding-top: 30px;
  }

}